body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 300;
  src: url('./styles/fonts/Pretendard-Light.woff2') format('woff2'), url('styles/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/Pretendard-Regular.woff2') format('woff2'), url('styles/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  src: url('./styles/fonts/Pretendard-Medium.woff2') format('woff2'), url('styles/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 600;
  src: url('./styles/fonts/Pretendard-SemiBold.woff2') format('woff2'), url('styles/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  src: url('./styles/fonts/Pretendard-Bold.woff2') format('woff2'), url('styles/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url(./styles/fonts/YdestreetB.otf) format('truetype'), url('styles/fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'YdestreetL';
  font-style: normal;
  font-weight: normal;
  src: url('./styles/fonts/YdestreetL.otf') format('truetype'), url('styles/fonts/YdestreetL.ttf') format('truetype');
}
