@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetB.otf') format('truetype'), url('../fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'YdestreetL';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetL.otf') format('truetype'), url('../fonts/YdestreetL.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Pretendard-Medium.woff') format('woff'), url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Pretendard-Bold.woff') format('woff'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

.DictCardEditPageLayout {
  width: 100%;
  height: fit-content;
  margin: 80px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fff;
}
.DictCardEditPageLayout::-webkit-scrollbar {
  display: none;
}

.DictCardEditInputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.DictCardEditInputTitleContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
}

.DictCardEditInputTitleGuideText {
  width: 65px;
  height: fit-content;
  font-size: 1rem;
  font-weight: 600;
}

.DictCardEditInputTitle {
  width: calc(100% - 65px);
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  padding: 0 10px;
  border: none;
  font-size: 0.875rem;
  overflow: hidden;
  resize: none;
  padding: 0 0 0 5px;
}

.DictCardEditInputSummaryContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
}

.DictCardEditInputSummaryGuideText {
  width: 65px;
  height: fit-content;

  font-size: 1rem;
  font-weight: 600;
}

.DictCardEditInputSummary {
  width: calc(100% - 65px);
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  border: none;
  font-size: 0.85rem;
  background-color: transparent;
  overflow-y: hidden;
  padding: 0 0 0 5px;
  resize: none;
}

.DictCardEditInputContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.DictCardEditInputContentGuideText {
  width: 60px;
  height: fit-content;

  font-size: 1rem;
  font-weight: 600;
}

.DictCardEditInputContent {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  padding: 16px 8px 0;
  border: none;
  font-size: 0.85rem;
  min-height: 5rem;
  overflow-y: hidden;
  resize: none;
}

.DictCardEditTemporaryOrSubmitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  padding: 10px 30px 50px 30px;
}

.DictCardEditTemporaryButton {
  position: relative;
}
.DictCardEditTemporaryButton:hover {
  cursor: pointer;
}

.DictCardEditTemporaryButton_1 {
  width: 60px;
  height: 26px;
  border: 1px solid black;
  background-color: rgba(196, 196, 196, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;

  z-index: 2;
}

.DictCardEditTemporaryButton_2 {
  border: 1px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  width: 60px;
  height: 26px;
  position: absolute;

  z-index: -1;
}

.DictCardEditSubmitButton {
  position: relative;
}

.DictCardEditSubmitButton_1 {
  /* width: 60px;
  height: 26px; */
  width: 120px;
  height: 48px;
  border: 2px solid black;
  background-color: #00a0ff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  cursor: pointer;

  z-index: 2;

  transition: all 0.2s ease-in-out;
}

.DictCardEditSubmitButton_1:disabled {
  background-color: #878c92;
  color: #000;
  cursor: not-allowed !important;
  pointer-events: none;
}

.DictCardEditSubmitButton_1:active {
  left: 4px;
  top: 4px;
}

.DictCardEditSubmitButton_2 {
  border: 2px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  /* width: 60px;
  height: 26px; */
  width: 120px;
  height: 48px;
  position: absolute;

  z-index: -1;
}
