.MyDictMemeSection {
  width: 100%;
  height: 100%;
  margin: 0 0 100px 0;
}

.MyDictMemeList {
  width: 100%;
  height: 100%;
  padding: 15px 36px;
}

.MyDictMemePlzLoginSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MyDictMemePlzLoginText {
  width: 100%;
  height: 100%;
  font-family: 'Pretendard Variable', 'AppleSDGothicNeo', sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  font-display: swap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.MyDictMemeGoToLogin {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.05);
  color: #888;
  font-size: 1.125em;
  letter-spacing: 0px;
  transition: all 0.5s;
}
.MyDictMemeGoToLogin:hover {
  color: white;
  transition: all 0.3s;
}

.MyDictMemeGoToLogin1 {
  font-weight: bold;
}
.MyDictMemeGoToLogin1::after {
  color: aliceblue;
  width: 0;
}
.MyDictMemeGoToLogin1:hover:after {
  color: aliceblue;
  width: 100%;
}

.MyDictMemeGoToLogin2 {
  width: fit-content;
  height: fit-content;
}
.MyDictMemeGoToLogin::after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 0;
  height: 4%;
  top: 80;
  left: 0;
  margin: 0 0 0 80px;
  background: #ffe95e;
  overflow: hidden;
}
.MyDictMemeGoToLogin:hover:after {
  width: 63%;
}
