@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetB.otf') format('truetype'), url('../fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Pretendard-Bold.woff') format('woff'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

.DictPageSearchButton {
  font-size: 18px;
}

.DictHistoryPageLayout {
  padding: 56px 0 0;
  width: 100%;
  height: 100%;
  /* border: 3px solid cornflowerblue; */
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.DictHistoryPageLayout::-webkit-scrollbar {
  display: none;
}

.DictHistoryListText {
  margin-top: 20px;
  margin-left: 15px;
  width: fit-content;
  /* background-image: linear-gradient(transparent 60%, yellow 40%); */

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
}

.DictHistoryListSection {
  /* border-top: 0.5px solid rgb(200, 200, 200);
  border-bottom: 0.5px solid rgb(200, 200, 200); */
  margin-top: 20px;
  margin-bottom: 10px;
}

.DictHistoryList {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 24px 16px 8px 32px;
  margin-bottom: 10px;

  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: white;
}

.DictWriterInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.DictWriterProfileImage {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 10px 0 0;
  border: 2px solid #000;
}

.DictWriter {
  font-size: 1rem;
  text-decoration-line: underline;
}

.DictHistoryCreatedAt {
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;

  color: #878c92;
}

.DictHistoryFirstWriterInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.DictFirstWriterProfileImage {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 0 10px 0 0;
  border: 2px solid #000;
}

.DictHistoryFirstWriter {
  font-size: 1rem;
  text-decoration-line: underline;
}

.DictHistoryFirstCreatedAt {
  font-size: 0.75rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;

  color: #878c92;
}

.DictHistoryModifiedDictGuideTextAndButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DictHistoryModifiedDictGuideText {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
  font-size: 1.125rem;
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
}

.DictHistoryModifiedButton {
  position: relative;
}
.DictHistoryModifiedButton:hover {
  cursor: pointer;
}

.DictHistoryModifiedButton_1 {
  width: 110px;
  height: 35px;
  border: 2px solid black;
  background-color: #00a0ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;

  z-index: 2;
}

.DictHistoryModifiedButton_2 {
  top: 4px;
  left: 4px;
  background-color: white;
  width: 110px;
  height: 35px;
  border: 2px solid black;
  border-radius: 30px;
  position: absolute;

  z-index: -1;
}
