.OneDictCardDetailPageLayout {
  margin: 80px 0 0;
  padding: 0 0 40px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: space-around;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fff;
}

.OneDictCardDetailPageLayout::-webkit-scrollbar {
  display: none;
}

.OneDictCardDetailInfo_Guide {
  max-width: 60px;
  min-width: 60px;
  height: fit-content;
  font-size: 0.9rem;
  font-weight: 600;
}

.OneDictCardDetailInfo_Vertical {
  width: 1px;
  height: 16px;
  background-color: #c4c4c4;
  margin: 0 10px;
}

.OneDictCardDetailInfo_DictData {
  word-wrap: break-word;
  word-break: keep-all;
  width: fit-content;
  height: fit-content;
  font-size: 0.875rem;
  display: flex;
  line-height: 1.8;
}

.OneDictCardDetailInfo_RelatedVideo {
  display: flex;
}

.OneDictCardDetailInfoLikeCnt {
  font-size: 0.875rem;
  margin: 0 0 0 5px;

  color: rgba(135, 140, 146, 1);

  -webkit-appearance: none;
}

.OneDictCardDetailInfoWriterAndAt {
  display: flex;
  align-items: center;
  border-top: 0.5px solid rgb(209, 209, 209);
  border-bottom: 0.5px solid rgb(209, 209, 209);
  width: 100%;
  height: fit-content;
}

.First {
  border: none;
  border-right: 1px solid rgb(209, 209, 209);
  padding: 10px 10px 10px 20px;
}

.Recent {
  border: none;
  padding: 10px 20px 10px 10px;
}

.OneDictCardDetailInfoFirstWriterProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  border: 2px solid #000;
}

.OneDictCardDetailInfoFirstWriterCreatedAt {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  align-self: center;
}

.OneDictCardDetailInfoFirstWriter {
  font-size: 0.75rem;
}

.OneDictCardDetailInfoCreatedAt {
  font-size: 0.65rem;
  color: rgba(135, 140, 146, 1);
}

.OneDictCardDetailInfoWriterAndAtLine {
  width: 0.5px;
  height: 50px;
  border: 0.5px solid rgb(200, 200, 200);
  margin: 0px 10px 0 5px;
}

.OneDictCardDetailInfoRecentWriterProfileImage {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  border: 2px solid #000;
}

.OneDictCardDetailInfoRecentWriterModifiedAt {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  align-self: center;
}

.OneDictCardDetailInfoRecentWriter {
  font-size: 0.75rem;
}

.OneDictCardDetailInfoModifiedAt {
  font-size: 0.65rem;
  color: rgba(135, 140, 146, 1);
}

.OneDictCardDetailInfoModifiedAndHistoryButton {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  padding: 0 20px 100px;
}

.OneDictCardDetailInfoModifiedHistoryButton {
  width: 100%;
  height: 100%;
  position: relative;
}

.OneDictCardDetailInfoModifiedHistoryButton_1 {
  width: 110px;
  height: 35px;
  border: 2px solid black;
  background-color: #ffe330;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 43.3%;
  transform: translateX(-33.3%);

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  cursor: pointer;

  z-index: 100;
}

.OneDictCardDetailInfoModifiedHistoryButton_2 {
  width: 110px;
  height: 35px;
  border: 2px solid black;
  top: 4px;
  left: calc(43.3% + 4px);
  transform: translateX(-33.3%);
  background-color: white;
  border-radius: 30px;
  position: absolute;
}

.OneDictCardDetailInfoModifiedButton {
  width: 100%;
  height: 100%;
  position: relative;
}

.OneDictCardDetailInfoModifiedButton_1 {
  width: 110px;
  height: 35px;
  border: 2px solid black;
  background-color: #00a0ff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 56.6%;
  transform: translateX(-66.6%);

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  cursor: pointer;

  z-index: 100;
}

.OneDictCardDetailInfoModifiedButton_2 {
  width: 110px;
  height: 35px;
  border: 2px solid black;
  top: 4px;
  left: calc(56.6% + 4px);
  transform: translateX(-66.6%);
  background-color: white;
  border-radius: 30px;
  position: absolute;
  z-index: 0;
}

.icon {
  cursor: pointer;
}

.OneDictCardDetailInfoText {
  font-size: 0.875rem;
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
}
