@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetB.otf') format('truetype'), url('../fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'YdestreetL';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetL.otf') format('truetype'), url('../fonts/YdestreetL.ttf') format('truetype');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Pretendard-Medium.woff') format('woff'), url('../fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Pretendard-Bold.woff') format('woff'), url('../fonts/Pretendard-Bold.woff2') format('woff2');
}

.DictCardWritePageLayout {
  width: 100%;
  height: fit-content;
  /* border: 3px solid green; */
  padding: 74px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
}
.DictCardWritePageLayout::-webkit-scrollbar {
  display: none;
}

.DictCardInputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  font-size: 16px;
  font-weight: bold;
}

.DictCardInputTitleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
}

.DictCardInputTitleGuideText {
  width: 60px;
  height: 25px;
  padding-top: 3px;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}

.DictCardInputTitle {
  width: calc(100% - 95px);
  height: 25px;
  word-wrap: break-word;
  word-break: keep-all;
  display: flex;
  align-self: flex-start;
  margin: 0 0 0 0;
  padding: 0 10px;
  border: none;
  font-size: 12px;
  background-color: transparent;
  overflow: hidden;
  resize: horizontal;
  padding: 0;

  color: -internal-light-dark(black, white);
}

.DictCardInputTitleDoubleCheck {
  width: 35px;
  height: 25px;
  padding-top: 3px;
  text-decoration-line: underline;
  background-color: transparent;
  display: flex;
  align-self: flex-start;
  align-items: center;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-size: 10px;
  font-weight: 700;
}
.DictCardInputTitleDoubleCheck:hover {
  cursor: pointer;
}

.DictCardInputSummaryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
}

.DictCardInputSummaryGuideText {
  width: 60px;
  height: 25px;
  display: flex;
  align-self: flex-start;
  padding-top: 5px;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}

.DictCardInputSummary {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  display: flex;
  align-self: center;
  padding-top: 8px;
  margin: 0 0 0 0;
  border: none;
  font-size: 12px;
  background-color: transparent;
  min-height: 5rem;
  overflow-y: hidden;
  resize: none;

  color: -internal-light-dark(black, white);
}

.DictCardInputContentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
}

.DictCardInputContentGuideText {
  width: 60px;
  height: 25px;
  display: flex;
  align-self: flex-start;
  padding-top: 5px;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
}

.DictCardInputContent {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  display: flex;
  align-self: center;
  padding-top: 8px;
  margin: 0 0 0 0;
  border: none;
  font-size: 12px;
  background-color: transparent;
  min-height: 5rem;
  overflow-y: hidden;
  resize: none;

  color: -internal-light-dark(black, white);
}

.DictCardTemporaryOrSubmitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  padding: 10px 30px 50px 30px;
}

.DictCardTemporaryButton {
  position: relative;
}
.DictCardTemporaryButton:hover {
  cursor: pointer;
}

.DictCardTemporaryButton_1 {
  width: 60px;
  height: 26px;
  border: 1px solid black;
  background-color: rgba(196, 196, 196, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;

  z-index: 2;
}

.DictCardTemporaryButton_2 {
  border: 1px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  width: 60px;
  height: 26px;
  position: absolute;

  z-index: -1;
}

.DictCardSubmitButton {
  position: relative;
}
.DictCardSubmitButton:hover {
  cursor: pointer;
}

.DictCardSubmitButton_1 {
  /* width: 60px;
  height: 26px; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  background-color: rgba(0, 160, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'YdestreetB';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;

  z-index: 2;
}

.DictCardSubmitButton_2 {
  border: 1px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  /* width: 60px;
  height: 26px; */
  width: 100px;
  height: 40px;
  border: 1px solid black;
  position: absolute;

  z-index: -1;
}

.DictWriteMoveButton,
.DictListMoveButton {
  font-size: 14px;
  color: #00a0ff;
}

/* sweet alret */
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.swal-modal {
  position: relative;
  width: 250px;
  height: fit-content;
}

.swal-title {
  font-size: 14px;
}
