.DictCardWritePageLayout {
  width: 100%;
  height: fit-content;
  margin: 80px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: #fff;
}
.DictCardWritePageLayout::-webkit-scrollbar {
  display: none;
}

.DictCardInputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.DictCardInputTitleContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
}

.DictCardInputTitleGuideText {
  width: 75px;
  height: fit-content;
  font-size: 1rem;
  font-weight: 600;
  font-display: swap;
}

.DictCardInputTitle {
  width: calc(100% - 118px);
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  padding: 0 10px;
  border: none;
  font-size: 0.85rem;
  font-display: swap;
  overflow: hidden;
  resize: horizontal;
  padding: 0 0 0 5px;

  color: -internal-light-dark(black, white);
}

.DictCardInputTitleDoubleCheck {
  width: fit-content;
  height: fit-content;
  text-decoration-line: underline;

  font-size: 0.75rem;
  font-weight: 700;
  font-display: swap;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.DictCardInputTitleDoubleCheck:hover {
  color: #00a0ff;
}

.DictCardInputSummaryContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid #e5e5e5;
  background-color: white;
  padding: 20px;
}

.DictCardInputSummaryGuideText {
  width: 75px;
  height: fit-content;

  font-size: 1rem;
  font-weight: 600;
  font-display: swap;
}

.DictCardInputSummary {
  width: calc(100% - 75px);
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  border: none;
  font-size: 0.85rem;
  font-display: swap;
  background-color: transparent;
  overflow-y: hidden;
  padding: 0 0 0 5;

  color: -internal-light-dark(black, white);
}
.DictCardInputSummary::placeholder {
  font-size: 0.7rem;
  font-display: swap;
}
.DictCardInputSummary::-ms-input-placeholder {
  font-size: 0.7rem;
  font-display: swap;
}

.DictCardInputContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.DictCardInputContentGuideText {
  width: 60px;
  height: fit-content;

  font-size: 1rem;
  font-weight: 600;
  font-display: swap;
}

.DictCardInputContent {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  word-break: keep-all;
  padding: 16px 8px 0;
  border: none;
  font-size: 0.875rem;
  font-display: swap;
  min-height: 5rem;
  overflow-y: hidden;
  resize: none;
  line-height: 1.6;

  color: -internal-light-dark(black, white);
}

.DictCardTemporaryOrSubmitButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0 0 0;
  padding: 10px 30px 50px 30px;
}

.DictCardTemporaryButton {
  position: relative;
}
.DictCardTemporaryButton:hover {
  cursor: pointer;
}

.DictCardTemporaryButton_1 {
  width: 60px;
  height: 26px;
  border: 2px solid black;
  background-color: rgba(196, 196, 196, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  font-display: swap;

  z-index: 2;
}

.DictCardTemporaryButton_2 {
  border: 2px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  width: 60px;
  height: 26px;
  position: absolute;

  z-index: -1;
}

.DictCardSubmitButton {
  position: relative;
}

.DictCardSubmitButton_1 {
  width: 120px;
  height: 48px;
  border: 2px solid black;
  background-color: #00a0ff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'YdestreetB', 'AppleSDGothicNeo', sans-serif;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  font-display: swap;
  cursor: pointer;

  z-index: 2;

  transition: all 0.2s ease-in-out;
}

.DictCardSubmitButton_1:disabled {
  background-color: #878c92;
  color: #000;
  cursor: not-allowed !important;
  pointer-events: none;
}

.DictCardSubmitButton_1:active {
  left: 4px;
  top: 4px;
}

.DictCardSubmitButton_2 {
  border: 2px solid black;
  top: 4px;
  left: 4px;
  background-color: white;
  width: 120px;
  height: 48px;
  position: absolute;

  z-index: -1;
}

/* sweet alret */
.swal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.swal-modal {
  position: relative;
  width: 250px;
  height: fit-content;
}

.swal-title {
  font-size: 14px;
}

.DictCardInputTitle::placeholder,
.DictCardInputSummary::placeholder,
.DictCardInputContent::placeholder {
  font-size: 0.875rem;
  font-display: swap;
}

.highlight {
  color: #00a0ff;
}
