.JoinPageLayout {
  display: block;
  /* border: 3px solid green; */
  width: 100%;
  max-width: 400px;
  height: 485px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 15px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* 추가 */
  padding: 0 20px;
}
.JoinPageLayout::-webkit-scrollbar {
  display: none;
}

.MultiInputBoxLayout_join {
  border: 1px solid black;
  /* 추가 */
  width: 100%;
}

.LoginOrJoinButtons_join {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  width: 100%;
}

.LoginButton_join {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  /* border-right: 0.5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  padding: 10px;
}

.JoinButton_join {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-left: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
}

.LoginOrJoinInputs_join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* 추가 */
  padding: 0 20px;
}

.JoinInputBox {
  border: 0.5px solid black;
  height: 40px;
  padding-left: 20px;
}

.input1 {
  width: 70%;
  margin: 20px 0;
}

.input2 {
  width: 100%;
  margin: 20px;
}

.doubleCheckButton {
  width: 30%;
  height: 40px;
  padding: 0;
  margin: 0 6px;
  border: 0.5px solid black;
}

.JoinSubmitButton {
  margin: 35px 0 10px 0;
  border: 1px solid rgb(252, 145, 133);
  background-color: rgb(252, 145, 133);
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}
.JoinSubmitButton:hover {
  cursor: pointer;
}
