.LoginLayout {
  width: 100%;
  max-width: 400px;
  height: 485px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 10px 0 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.LoginLayout::-webkit-scrollbar {
  display: none;
}

.MultiInputBoxLayout_login {
  border: 1px solid black;
  width: 328px;
  height: 265px;
}

.LoginOrJoinButtons_login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  width: 100%;
}

.LoginButton_login {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border-left: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffe330;
}

.JoinButton_login {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  /* border-left: 0.5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: none;
}

.LoginOrJoinInputs_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 280px;
}

.IdInputLabel {
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 15px;
}

.IdInputBox {
  border: 0.5px solid black;
  width: 267px;
  height: 36px;
  margin: 0px 0 10px 0;
  padding-left: 10px;
}

.PwdInputLabel {
  font-size: 14px;
  display: flex;
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 15px;
}

.PwdInputBox {
  border: 0.5px solid black;
  width: 267px;
  height: 36px;
  margin: 0px 0 15px 0;
  padding-left: 10px;
}

.MemegleButton_LoginSubmit {
  position: absolute;
}
.MemegleButton_LoginSubmit:hover {
  cursor: pointer;
}
.Login1 {
  border: 1px solid black;
  border-radius: 0 0 0 0;
  top: 200px;
  left: -50px;
  background-color: #00a0ff;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;
}
.Login2 {
  border: 1px solid black;
  border-radius: 0 0 0 0;
  background-color: white;
  top: 204px;
  left: -46px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
}

.SocialLoginHR {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin: 55px 0 20px 0;
}

.SocialLoginBtns {
  display: flex;
  margin: 0px 0px 80px 0px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.KakaoLoginBtn {
  width: 50px;
  background-color: #fee500;
  border-radius: 5px;
}
.KakaoLoginBtn:hover {
  cursor: pointer;
}

.GoogleLoginBtn {
  width: 50px;
}
.GoogleLoginBtn:hover {
  cursor: pointer;
}

.NaverLoginBtn {
  width: 50px;
  background-color: rgb(0, 255, 0);
  border-radius: 5px;
}
.NaverLoginBtn:hover {
  cursor: pointer;
}

/* sweetalret */
.swal-modal {
  width: 45%;
  word-break: keep-all;
}
