.MainPageLayout {
  max-width: 350px;
  max-height: 500px;
  margin: 30px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.MainPageLayout::-webkit-scrollbar {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.MainPageTagSection {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.MainPageTag {
  border: none;
  border-radius: 10px;
  background-color: lightblue;
  width: fit-content;
  height: min-content;
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
}
