.WebFullFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 414px;
  min-width: 320px;
  width: 100%;
  height: 700px;
  /* align-items: center;
  justify-content: center;
  vertical-align: middle; */
  /* 레이아웃 작업 후 삭제 */
  /* border: 5px solid red; */
}

@media screen and (min-width: 1120px) {
  .WebFullFrame {
    right: 20%;
    top: 50%;
    transform: translate(20%, -50%);
  }
}

.MobileFullFrame {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  /* overflow: hidden; */
  /* 레이아웃 작업 후 삭제 */
  /* border: 5px solid rgb(146, 170, 240); */
  border: 1px solid black;
  background-color: #fff;
  /* margin: 270px 10px 300px 10px; */
}

.Container {
  width: 100%;
  height: 100%;
  max-height: 620px;
  padding: 74px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}
