.WebFullFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  min-width: 320px;
  width: 100%;
  max-height: 100%;
  height: 100vh;

  z-index: 999;
}

@media screen and (min-width: 500px) {
  .WebFullFrame {
    top: 50%;
    transform: translate(-40%, -50%);
  }
}

@media screen and (min-width: 900px) {
  .WebFullFrame {
    top: 50%;
    transform: translate(-15%, -50%);
  }
}

@media screen and (min-width: 1120px) {
  .WebFullFrame {
    top: 50%;
    transform: translate(-5%, -50%);
  }
}

@media screen and (min-width: 1700px) {
  .WebFullFrame {
    top: 50%;
    transform: translate(30%, -50%);
  }
}

@media screen and (min-width: 2000px) {
  .WebFullFrame {
    top: 50%;
    transform: translate(50%, -50%);
  }
}

.MobileFullFrame {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fbfafa;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

  z-index: 999;
}

.Container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-bottom: 2px solid #000;

  z-index: 999;
}

.Container::-webkit-scrollbar {
  display: none;
}
