.WebFullFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  min-width: 320px;
  width: 100%;
  max-height: 100%;
  height: 100vh;
  /* align-items: center;
  justify-content: center;
  vertical-align: middle; */
  /* 레이아웃 작업 후 삭제 */
  /* border: 5px solid red; */
}

@media screen and (min-width: 1120px) {
  .WebFullFrame {
    right: 20%;
    top: 50%;
    transform: translate(20%, -50%);
  }
}

.MobileFullFrame {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 430px; */
  width: 100%;
  /* max-height: 926px; */
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  /* 레이아웃 작업 후 삭제 */
  /* border: 5px solid rgb(146, 170, 240); */
  /* border: 1px solid black; */
  background-color: #fbfafa;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  /* margin: 270px 10px 300px 10px; */
}

.Container {
  width: 100%;
  height: 100%;
  /* max-height: 926px; */
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}
