.OneDictCardLayout1 {
  border: 3px solid black;
  border-radius: 0 0 0 0;
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgba(136, 0, 255);
  width: 9rem;
  height: 5rem;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OneDictCardLayout2 {
  border: 3px solid black;
  border-radius: 0 0 0 0;
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgba(172, 255, 47);
  width: 9rem;
  height: 5rem;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OneDictCardLayout3 {
  border: 3px solid black;
  border-radius: 0 0 0 0;
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgba(250, 128, 114);
  width: 9rem;
  height: 5rem;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
