.popularBoardCardSwiper {
  background-color: #fbfafa;
  width: 100%;
  height: fit-content;

  -webkit-appearance: none;
}

.PopularBoardCard {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #fbfafa;

  -webkit-appearance: none;
}

.PopularBoardCard_1 {
  border: 2px solid black;
  top: 0px;
  left: 0px;
  background-color: #fbfafa;
  width: 180px;
  height: 240px;
  position: absolute;
  object-fit: cover;

  z-index: 2;

  -webkit-appearance: none;
}
.PopularBoardCard_1:hover {
  cursor: pointer;
}

.PopularBoardCard_2 {
  border: 2px solid black;
  top: 8px;
  left: 8px;
  background-color: #ffe330;
  width: 180px;
  height: 240px;
  position: absolute;

  z-index: 1;

  -webkit-appearance: none;
}

.PopularBoardCard_Image {
  width: fit-content;
  height: fit-content;

  -webkit-appearance: none;
}

.popular-swiper-slide {
  text-align: center;
  font-size: 16px;
  width: 200px !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-appearance: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-appearance: none;
}
