.DictPageAddButton {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #444444;
  position: absolute;
  right: 16px;
  bottom: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 16px 4px hsl(0deg 0% 60% / 40%);
  z-index: 1000;
}

.DictPageAddButton:hover {
  background-color: #676767;
}
