@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetB.otf') format('truetype'), url('../fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'YdestreetL';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetL.otf') format('truetype'), url('../fonts/YdestreetL.ttf') format('truetype');
}

.TodayDictCard {
  position: relative;
  width: 100%;
  height: 156px;
}
.TodayDictCard:hover {
  cursor: pointer;
}

.TodayDictCard_1 {
  border: 2px solid black;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;

  z-index: 2;
}

.TodayDictCard_2 {
  border: 2px solid black;
  /* border: none; */
  top: 6px;
  left: 6px;
  background-color: #ff8e00;
  width: 150px;
  height: 150px;
  position: absolute;

  z-index: 1;
}
/* 
#area {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 0 0 0 0;
  margin: 0 auto;
}

.yellow {
  background-color: #ffd400;
}

.red {
  background-color: #f97d39;
}

.blue {
  background-color: #6698fc;
} */

.TodayDictCard_Title {
  word-break: keep-all;
  width: fit-content;
  height: fit-content;

  font-size: 1rem;
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
}

.TodayDictCard_Summary {
  font-size: 0.875rem;
  text-align: left;
  word-break: keep-all;
  width: 100%;
  height: fit-content;
  padding: 14px 0 0 0;
}

.swiper-container {
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  width: 156px !important;
  background-color: transparent !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
