.TodayDictCard {
  position: relative;
  width: 100%;
  height: 156px;
}
.TodayDictCard:hover {
  cursor: pointer;
}

.TodayDictCard_1 {
  border: 2px solid black;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: absolute;

  z-index: 2;
}

.TodayDictCard_2 {
  border: 2px solid black;
  /* border: none; */
  top: 6px;
  left: 6px;
  background-color: #ff8e00;
  width: 150px;
  height: 150px;
  position: absolute;

  z-index: 1;
}

.TodayDictCard_Title {
  word-break: keep-all;
  width: fit-content;
  height: fit-content;

  font-size: 1rem;
  font-family: 'YdestreetB', 'AppleSDGothicNeo', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-display: swap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TodayDictCard_Summary {
  font-size: 0.875rem;
  font-display: swap;
  text-align: left;
  word-break: keep-all;
  width: 100%;
  height: fit-content;
  padding: 14px 0 0 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-container {
  width: 100%;
  height: fit-content;
}

.dict-swiper-slide {
  width: 156px !important;
  background-color: transparent !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
