@font-face {
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetB.otf') format('truetype'), url('../fonts/YdestreetB.ttf') format('truetype');
}

@font-face {
  font-family: 'YdestreetL';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YdestreetL.otf') format('truetype'), url('../fonts/YdestreetL.ttf') format('truetype');
}

.TodayDictCard {
  position: relative;
  width: 100%;
  height: 180px;
}
.TodayDictCard:hover {
  cursor: pointer;
}

.TodayDictCard_1 {
  border: 2px solid black;
  border-radius: 0 0 0 0;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px 15px;
  margin: 10px;
  position: absolute;

  z-index: 2;
}

.TodayDictCard_2 {
  border: 2px solid black;
  /* border: none; */
  border-radius: 0 0 0 0;
  top: 16px;
  left: 16px;
  background-color: rgba(249, 125, 57, 1);
  width: 150px;
  height: 150px;
  position: absolute;

  z-index: 1;
}
/* 
#area {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 0 0 0 0;
  margin: 0 auto;
}

.yellow {
  background-color: #ffd400;
}

.red {
  background-color: #f97d39;
}

.blue {
  background-color: #6698fc;
} */

.TodayDictCard_Title {
  word-break: keep-all;
  width: fit-content;
  height: fit-content;
  margin: -25px 0 0 0;

  font-size: 16px;
  font-family: 'YdestreetB';
  font-style: normal;
  font-weight: normal;
}

.TodayDictCard_Summary {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  word-break: keep-all;
  width: 100%;
  height: fit-content;
  margin: -20px 0 0 0;
}

.swiper {
  /* width: 100%;
  height: 100%; */
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
